@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 100%;

    font-family: 'Ranchers', cursive;

    background: linear-gradient(179deg, #ff623a, #37afff, #8746ff, #ff31cc);
    background-size: 800% 800%;

    -webkit-animation: animation 17s ease infinite;
    -moz-animation: animation 17s ease infinite;
    animation: animation 17s ease infinite;
}

@-webkit-keyframes animation {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@-moz-keyframes animation {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@keyframes animation {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
.header {
    position: absolute;
    text-align: center;
    top: 2em;
}

.title {
    font-size: 7em;
    text-align: center;
    color: white;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.border {
    text-shadow: -3px 7px black, 0 3px black, 3px 0 black, 0 -3px black;
}

.game-board {
    margin:auto;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}
.box {
    background: white;
    border: 3px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 100px;
}


.number {
    font-size: 5em;
    color: white;
    cursor: grab;
} 

.number:hover {
    animation: shake 2s;

    animation-iteration-count: infinite;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.sidebar-menu {
    padding: 1em;
    font-size: 1em;
    position: absolute;
    text-align: right;
    float: right;
    left: 3em;
}

.score {
    font-size: 1.9em;
    color: white;
    animation: shake 2s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.description {
    position: absolute;
    bottom: 3em;
    font-size: 1.4em;
    color: white;
}